html {
 /* background: url('../../public/assets/img/bg.jpg') no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home-modal-container {
  margin: 0px;
  padding: 0px;
}

.full-width {
  float: left;
  width: 100%;
}

#top-bar {
  height: 50px;
  background-color: #fff;
  border-top: 2px solid #63C44F;
  border-bottom: 1px solid #EAEAEA;
}

.header-width {
  float: none;
  margin: 0 auto !important;
  overflow: auto;
  padding-bottom: 2px;

}

.logo {
  padding-top: 5px;
  padding-bottom: 5px;
}

#main-body {
  float: none;
  height: auto;
  overflow: auto;
  margin:0 auto !important;
}

.success-msg {
  color:green;
}

.error-msg {
  color:red;
}


@media ( min-width: 768px ) {
  .grid-divider {
    position: relative;
    padding: 0;
  }
  .grid-divider>[class*='col-'] {
    position: static;
  }
  .grid-divider>[class*='col-']:nth-child(n+2):before {
    content: "";
    border-left: 1px solid #DDD;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .col-padding {
    padding: 0 0 0 15px;
  }
}